.header {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  gap: 320px;
  align-self: stretch;
}
.header .Logo {
  color: #303030;
  font-size: 48px;
  font-family: fw-500;
  font-weight: 400;
  line-height: normal;
}
.header .search {
  border: 2px;
  border-radius: 8px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  border-style: solid;
}
.header .search .text-search {
  flex: 1 0 0;
  color: var(--bleck, #303030);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  font-family: fw-500;
  background-color: #F2F2F2;
  outline: none;
}
.header .hotline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  gap: 10px;
  font-family: fw-500;
}
.header .hotline span {
  display: flex;
  gap: 10px;
}
.header .hotline span .fa-solid.fa-phone {
  color: var #303030;
  font-size: 28px;
  font-weight: 900;
}

.nav {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  align-self: stretch;
  background: #162E4D;
}
.nav .fa-solid.fa-bars {
  color: white;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  width: 50px;
}
.nav .collapse .navbar-nav .nav-item {
  width: max-content;
  margin-left: 50px;
}

.img-fluid {
  width: 100%;
}

.nav-item, .navbar-brand {
  color: white;
  font-family: fw-500;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.footer {
  display: flex;
  padding: 60px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #303030;
}
.footer .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.footer .intro h2 {
  color: #FFF;
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.footer .intro a {
  display: flex;
  gap: 10px;
  color: #FFF;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.footer .support h2 {
  color: #FFF;
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.footer .support a {
  display: flex;
  gap: 10px;
  color: #FFF;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .img-footer {
  flex: 1 0 0;
  align-self: stretch;
  background: url("/Img/img-footer.jpg"), lightgray 50%;
}

.fa-phone, .fa-house, .fa-envelope, .fa-clock, .fa-gears, .fa-question {
  width: 25px;
}

.breadcrumb-nav {
  display: flex;
  padding: 0px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.breadcrumb-nav div {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
}
.breadcrumb-nav div p {
  color: #303030;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.seeMore {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--bleck, #303030);
}
.seeMore p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seeMore i {
  color: var(--bleck, #303030);
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: -10px;
}

.dropdown .btn.btn-secondary {
  border: none;
  font-family: fw-500;
  border-radius: 8px;
  padding: 15px 20px;
  background-color: #162E4D;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-detail {
  background-color: #162E4D;
  color: white;
  font-family: fw-500;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
}

.map {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: url("/Img/map.jpg"), lightgray -77px 0px/104.01% 100% no-repeat;
}
.map .address {
  display: flex;
  width: 349px;
  height: 451px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #303030;
  background: #FFF;
}
.map .address .title-address {
  display: flex;
  border-radius: 8px;
  background: #162E4D;
  color: white;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  font-family: fw-500;
  font-size: 18px;
}
.map .address .departments-list {
  display: flex;
  height: 399px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}
.map .address .departments-list .departments {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: white;
}
.map .address .departments-list .departments .title-department {
  color: #303030;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.map .address .departments-list .departments .descript-department {
  color: #303030;
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  align-self: stretch;
}

.nav-pagination {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.pagination {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.page-item a {
  color: #FFF;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #162E4D;
}

body {
  display: flex;
  max-width: 100%;
  padding-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background: var(--main-background, #F2F2F2);
}

.products {
  display: flex;
  padding: 0px 20px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.products .categories {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.products .categories .category {
  display: flex;
  width: 260px;
  height: 720px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--hite, #FFF);
}
.products .categories .category p {
  padding: 15px 20px;
  background-color: #162E4D;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.products .categories .category ul li {
  list-style-type: none;
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.products .categories .category ul li a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.show-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  background: #FFF;
}
.show-products .filtered-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
}
.show-products .filtered-list .category-title {
  height: 100%;
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  font-family: fw-500;
  background-color: #162E4D;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.show-products .filtered-list .dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #162E4D;
}
.show-products .items {
  display: flex;
  height: 2056px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}
.show-products .detail {
  width: 300px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
}
.show-products .detail a .img-thumbnail {
  width: 240px;
  height: 240px;
}
.show-products .detail .descript {
  align-self: stretch;
  color: #303030;
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.show-products .detail .price {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.show-products .detail .price .sell-off {
  flex: 1 0 0;
  color: #F00;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.show-products .detail .price .cost-origin {
  flex: 1 0 0;
  color: #F00;
  text-align: right;
  font-family: fw-500;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration-line: Line-through;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-main {
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-main .hotNews {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news-main .hotNews img {
  width: 100%;
  height: 540px;
}
.news-main .hotNews .title-news a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.news-main .hotNews .descript-news a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.news-main .secondaryNews {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news-main .secondaryNews .secondaryNews-1 p a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .secondaryNews .secondaryNews-1 div {
  width: 100%;
  height: 264px;
  background: url(/Img/Rectangle\ 2\ \(1\).jpg), lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}
.news-main .secondaryNews .secondaryNews-2 p a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .secondaryNews .secondaryNews-2 div {
  width: 100%;
  height: 264px;
  background: url(/Img/Rectangle\ 2\ \(2\).jpg), lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}

.news-list {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-list .news-mainList {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news-list .news-mainList svg {
  width: 100%;
}
.news-list .news-mainList .news-sectionTop-nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.news-list .news-mainList .news-sectionTop-nav .news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news-list .news-mainList .news-sectionTop-nav .news-section .img1 {
  width: 100%;
  height: 264px;
  background: url(/Img/Rectangle\ 2\ \(8\).jpg), lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}
.news-list .news-mainList .news-sectionTop-nav .news-section .img2 {
  width: 100%;
  height: 264px;
  background: url(/Img/Rectangle\ 2\ \(9\).jpg), lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}
.news-list .news-mainList .news-sectionTop-nav .news-section .img3 {
  width: 100%;
  height: 264px;
  flex-shrink: 0;
  background: url(/Img/Rectangle\ 2\ \(10\).jpg), lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}
.news-list .news-mainList .news-sectionTop-nav .news-section .title-news a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.news-list .news-mainList .news-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-list .news-mainList .news-item .itemList {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-list .news-mainList .news-item .itemList a img {
  width: 100%;
  height: 264px;
}
.news-list .news-mainList .news-item .itemList .news-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news-list .news-mainList .news-item .itemList .news-content .title-list a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-list .news-mainList .news-item .itemList .news-content .news-time {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.news-list .news-mainList .news-item .itemList .news-content .news-time p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news-main svg {
  width: 100%;
}
.news-main .mainDetail {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news-main .mainDetail img {
  width: 100%;
}
.news-main .mainDetail h2 {
  color: #000;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.news-main .mainDetail h3 {
  color: #000;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .mainDetail p {
  color: #000;
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  align-self: stretch;
}
.news-main .mainDetail .seeMore p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .mainDetail .news-item .itemList .news-content .title-list a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainPayment {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title h2 {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice {
  display: flex;
  width: 30%;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice svg {
  width: 100%;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice a {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  column-gap: 41px;
  flex-wrap: wrap;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice {
  display: flex;
  width: 602px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice a {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
}
.mainPayment .byCash {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .byCash .byCash-title {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .wireTransfer .wireTransferDetail {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer {
  width: 100%;
  height: 557px;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img {
  width: 77%;
  height: 557px;
  flex-shrink: 0;
  background: url(/Img/image\ 34.png);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background {
  position: absolute;
  margin: 25px 0 0px 230px;
  display: flex;
  width: 249px;
  height: 500px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(37, 37, 37, 0.6);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img i {
  color: #1ABD00;
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .text-status {
  color: #1ABD00;
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .ok {
  color: var(--bleck, #303030);
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer {
  width: 100%;
}
.mainPayment .momo {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .momo .momoDetail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .momo .momoDetail .momo-descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .zaloPay {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .zaloPay .zaloPayDetail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .zaloPay .zaloPayDetail .zaloPayDescript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .exchangeOfGoods {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .exchangeOfGoods .exchangeOfGoodsDetail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .exchangeOfGoods .exchangeOfGoodsDetail .exchangeOfGoodsDescript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.news-main .category-news {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news-main .category-news .category-news-title {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news-main .category-news .category-news-title p {
  flex: 1 0 0;
  color: var(--hite, #FFF);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .category-news .category-news-list {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-main .category-news .category-news-list img {
  background: lightgray -0.179px -94.116px/100% 237.156% no-repeat;
}
.news-main .category-news .category-news-list p a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}

.news-list {
  width: 100%;
}
.news-list .news-categories {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news-list .news-categories .news-categoryList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-list .news-categories .news-categoryList .category-news-title {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--main-color-blue, #162E4D);
}
.news-list .news-categories .news-categoryList .category-news-title p {
  flex: 1 0 0;
  color: var(--hite, #FFF);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-list .news-categories .news-categoryList .category-news-itemlist {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-list .news-categories .news-categoryList .category-news-itemlist p a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.news-list .news-categories .news-categoryList .category-news-itemlist a img {
  width: 100%;
  height: 83px;
}

.news-main .news-categories {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news-main .news-categories .news-categoryList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-main .news-categories .news-categoryList .category-news-title {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--main-color-blue, #162E4D);
}
.news-main .news-categories .news-categoryList .category-news-title p {
  flex: 1 0 0;
  color: var(--hite, #FFF);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-main .news-categories .news-categoryList .category-news-itemlist {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news-main .news-categories .news-categoryList .category-news-itemlist p a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.news-main .news-categories .news-categoryList .category-news-itemlist a img {
  width: 100%;
  height: 83px;
}

.btn-detail:hover {
  background-color: #376cb1;
  color: white;
}

.seeMore:hover {
  background-color: #c5c5c5;
  text-decoration-line: none;
}

.news-main .hotNews .title-news a:hover {
  cursor: pointer;
  color: #e17777;
}
.news-main .hotNews .descript-news a:hover {
  cursor: pointer;
  color: #d77373;
}
.news-main .hotNews img:hover {
  box-shadow: 5px 10px 5px 10px #888888;
}
.news-main .secondaryNews .secondaryNews-1 p a:hover {
  cursor: pointer;
  color: #d77373;
}
.news-main .secondaryNews .secondaryNews-1 div:hover {
  box-shadow: 5px 5px 10px 10px #888888;
}
.news-main .secondaryNews .secondaryNews-2 p a:hover {
  cursor: pointer;
  color: #d77373;
}
.news-main .secondaryNews .secondaryNews-2 div:hover {
  box-shadow: 5px 5px 10px 10px #888888;
}

.WarrantyPolicy-main .brands .brands-detail img:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.category-video .category-video__background:hover {
  background-color: white;
}
.category-video .category-video__background:hover a {
  color: var(--bleck, #303030);
}

.videos .videos__details a img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

html {
  scroll-behavior: smooth;
}

.WarrantyPolicy-title {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-title h2 {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-title p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.WarrantyPolicy-main {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-main h2 {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main b {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy-types {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: space-between;
  gap: 41px;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 h2 {
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 svg {
  width: 100%;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 h2 {
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 svg {
  width: 100%;
}
.WarrantyPolicy-main .brands {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-main .brands h2 {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.WarrantyPolicy-main .brands .brands-detail {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.WarrantyPolicy-main .brands .brands-detail img {
  width: 10%;
  flex: 1 0 0;
}

.category-video {
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.category-video .category-video__background {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--main-color-blue, #162E4D);
  background-color: #162E4D;
}
.category-video .category-video__background a {
  color: white;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.category-video .category-video__background1 {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--main-color-blue, #162E4D);
  background-color: white;
}
.category-video .category-video__background1 a {
  color: #303030;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.videos {
  display: flex;
  width: 100%;
  padding: 0px 38px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 40px;
  flex-wrap: wrap;
}
.videos .videos__details {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.videos .videos__details img {
  width: 100%;
}
.videos .videos__details a img {
  width: 344px;
}
.videos .videos__details a h2 {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.videos .videos__details p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.videoIsViewing {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.videoIsViewing__main {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.videoIsViewing__main img {
  width: 100%;
}
.videoIsViewing__main h2 {
  color: var(--bleck, #303030);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.videoIsViewing__main p {
  color: var(--bleck, #303030);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.videoIsViewing__timeLines {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.videoIsViewing__timeLines__details {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.videoIsViewing__timeLines__details a {
  width: 100%;
}
.videoIsViewing__timeLines__details a img {
  width: 244px;
}
.videoIsViewing__timeLines__details .videoIsViewing__timeLines__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}
.videoIsViewing__timeLines__details .videoIsViewing__timeLines__title a h2 {
  color: var(--bleck, #303030);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.videoIsViewing__timeLines__details .videoIsViewing__timeLines__title p {
  color: var(--bleck, #303030);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 344px;
  flex: 1 0 0;
}

/*# sourceMappingURL=main.css.map */
