.videoIsViewing{
    width: 100%;
    display: flex;
    padding: 0px 40px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    &__main{
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        img{
            width: 100%;
        }
        h2{
            color: var(--bleck, #303030);
            font-family: fw-500;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            align-self: stretch;
        }
        p{
            color: var(--bleck, #303030);
            font-family: fw-500;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: stretch;
        }
    }

    &__timeLines{
        width: 30%;
        height: 570px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        &__details{
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 10px;

            a{
                // width: 100%;
                img{
                    width: 244px;
                }
            }

            .title{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                align-self: stretch;

                a{
                    h2{
                        color: #303030;
                        font-family: fw-500;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        align-self: stretch;
                    }
                }
                p{
                    color: var(--bleck, #303030);
                    font-family: fw-500;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    flex: 1 0 0;                   
                }
            }
        }
    }
}

.moreVideo-title{
    display: flex;
    padding: 0px 40px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    h2{
        color: var(--bleck, #303030);
        font-family: fw-500;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        flex: 1 0 0;
    }
}

@include mobile{
    .videoIsViewing{
        width: 100%;
        display: flex;
        padding: 0px 20px;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        flex-direction: column;
    
        &__main{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
    
            img{
                width: 100%;
            }
            h2{
                color: var(--bleck, #303030);
                font-family: fw-500;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                align-self: stretch;
            }
            p{
                color: var(--bleck, #303030);
                font-family: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-self: stretch;
            }
        }
    
        &__timeLines{
            width: 100%;
            height: 300px;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
    
            &__details{
                display: flex;
                flex-direction: column;
                // width: 100%;
                align-items: flex-start;
                gap: 10px;
                // height: 150px;
    
                a{
                    // width: 100%;
                    img{
                        width: 100%;
                    }
                }
    
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 1 0 0;
                    align-self: stretch;
                    height: 70px;
    
                    a{
                        // height: 70%;
                        // overflow: hidden;
                        // text-overflow: ellipsis;

                        h2{
                            color: #303030;
                            font-family: fw-500;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            align-self: stretch;
                        }
                    }
                    p{
                        color: var(--bleck, #303030);
                        font-family: fw-500;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        flex: 1 0 0;                   
                    }
                }
            }
        }
    }
    
    .moreVideo-title{
        display: flex;
        padding: 0px 20px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        h2{
            color: var(--bleck, #303030);
            font-family: fw-500;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            flex: 1 0 0;
        }
    }
}

@include tablet{
    .videoIsViewing{
        width: 100%;
        display: flex;
        padding: 0px 20px;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        // flex-direction: column;
    
        &__main{
            display: flex;
            width: 70%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
    
            img{
                width: 100%;
            }
            h2{
                color: var(--bleck, #303030);
                font-family: fw-500;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                align-self: stretch;
            }
            p{
                color: var(--bleck, #303030);
                font-family: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-self: stretch;
            }
        }
    
        &__timeLines{
            width: 30%;
            height: 300px;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
    
            &__details{
                display: flex;
                flex-direction: column;
                // width: 100%;
                align-items: flex-start;
                gap: 10px;
                // height: 150px;
    
                a{
                    // width: 100%;
                    img{
                        width: 100%;
                    }
                }
    
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 1 0 0;
                    align-self: stretch;
                    height: 70px;
    
                    a{
                        // height: 70%;
                        // overflow: hidden;
                        // text-overflow: ellipsis;

                        h2{
                            color: #303030;
                            font-family: fw-500;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            align-self: stretch;
                        }
                    }
                    p{
                        color: var(--bleck, #303030);
                        font-family: fw-500;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        flex: 1 0 0;                   
                    }
                }
            }
        }
    }
}