.seeMore{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--bleck, #303030);

    p{
        color: var(--bleck, #303030);
        font-family: fw-500;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    i{
        color: var(--bleck, #303030);
        font-size: 8px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-top: -10px;
    }
}
.dropdown{
    .btn{
        &.btn-secondary{
            border: none;
            font-family: fw-500;
            border-radius: 8px;
            padding: 15px 20px;
            background-color: #162E4D;
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}

.btn-detail{
    background-color: #162E4D;
    color: white;
    font-family: fw-500;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
}


