html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-shrink: 0;
  background: var(--neutral-silver, #F5F7FA);
}
.navbar__logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 20%;
  padding: 0 40px;
}
.navbar__menu {
  padding-top: 20px;
  width: 55%;
  height: 24px;
  flex-shrink: 0;
}
.navbar__menu .headingName {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navbar__menu .headingName .headingItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__menu .headingName .headingItem a {
  color: var(--text-gray-900, #18191F);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: none;
}
.navbar__login {
  display: flex;
  gap: 10px;
  width: 30%;
  padding: 10px 0;
}
.navbar__login .login {
  border-width: 0.2px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--neutral-silver, #ffffff);
  font-size: 18px;
  color: var(--brand-primary, #4CAF4F);
}
.navbar__login .signup {
  border-width: 0.2px;
  font-size: 18px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--brand-primary, #4CAF4F);
}

.slider {
  width: 100%;
}
.slider__heroSection {
  display: flex;
  padding: 96px 144px;
  align-items: center;
  gap: 104px;
  align-self: stretch;
  background: var(--neutral-silver, #F5F7FA);
}
.slider__heroSection__text {
  translate: -300px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.slider__heroSection__text .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--neutral-d-grey, #4D4D4D);
  /* Heading/Headline 1 */
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
}
.slider__heroSection__text .text b {
  color: var(--brand-primary, #4CAF4F);
  /* Heading/Headline 1 */
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
}
.slider__heroSection__text .text p {
  color: var(--neutral-grey, #717171);
  /* Body/Regular/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.slider__heroSection__text .register {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--brand-primary, #4CAF4F);
  color: var(--neutral-white, #FFF);
  text-align: center;
  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.slider__heroSection__illustration {
  translate: 130px 0px;
  width: 391px;
  height: 407px;
}
.slider__heroSection__illustration svg {
  flex-shrink: 0;
}
.slider__heroSection__illustration .freepik-character-inject {
  position: absolute;
}
.slider__heroSection__illustration .freepik-inject {
  position: absolute;
}
.slider__heroSection__illustration .freepik-Windows-inject {
  position: absolute;
}
.slider__clients {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.slider__clients .title {
  translate: 0px 300px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.slider__clients .title h2 {
  color: var(--neutral-d-grey, #4D4D4D);
  text-align: center;
  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 0; /* 122.222% */
  align-self: stretch;
}
.slider__clients .title p {
  align-self: stretch;
  color: var(--neutral-grey, #717171);
  text-align: center;
  /* Body/Regular/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.slider__clients .logos {
  display: flex;
  padding: 40px 144px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.slider__clients .logos__items {
  translate: -2000px 0px;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.slider__community {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.slider__community .title {
  translate: 0px 300px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.slider__community .title h2 {
  color: var(--neutral-d-grey, #4D4D4D);
  text-align: center;
  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 0; /* 122.222% */
  align-self: stretch;
}
.slider__community .title p {
  align-self: stretch;
  color: var(--neutral-grey, #717171);
  text-align: center;
  /* Body/Regular/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.slider__community .communities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.slider__community .communities .Membership-Organizatios {
  display: flex;
  width: 30%;
  padding: 24px 10px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.slider__community .communities .Membership-Organizatios .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.slider__community .communities .Membership-Organizatios p {
  width: 70%;
}
.slider__community .communities .National-Associations {
  display: flex;
  width: 30%;
  padding: 24px 10px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.slider__community .communities .National-Associations .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.slider__community .communities .National-Associations p {
  width: 70%;
}

.body {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.body .unlock {
  display: flex;
  align-items: flex-start;
  padding: 0 100px;
}
.body .unlock img {
  width: 40%;
}
.body .unlock .text {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
.body .unlock .text h2 {
  margin: 0;
  padding-top: 75px;
  align-self: stretch;
  color: var(--neutral-d-grey, #4D4D4D);
  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.body .unlock .text p {
  align-self: stretch;
  color: var(--neutral-grey, #717171);
  /* Body/Regular/Body 3 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.body .unlock .text button {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--brand-primary, #4CAF4F);
  color: var(--neutral-white, #FFF);
  text-align: center;
  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.body .achievements {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;
  background: var(--neutral-silver, #F5F7FA);
}
.body .achievements .section-heading {
  display: flex;
  padding-left: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.body .achievements .section-heading h2 {
  color: #4D4D4D;
  margin: 0;
  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.body .achievements .section-heading .green {
  color: #4CAF4F;
  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.body .achievements .section-heading p {
  align-self: stretch;
  color: var(--text-gray-900, #18191F);
  /* Body/Regular/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.body .achievements .counts {
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.body .achievements .counts .row1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.body .achievements .counts .row1 .d2 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.body .achievements .counts .row1 .d2 .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body .achievements .counts .row1 .d2 .details h2 {
  margin: 0;
}
.body .achievements .counts .row1 .d1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.body .achievements .counts .row1 .d1 .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body .achievements .counts .row1 .d1 .details h2 {
  margin: 0;
}
.body .achievements .counts .row2 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.body .achievements .counts .row2 .d3 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.body .achievements .counts .row2 .d3 .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body .achievements .counts .row2 .d3 .details h2 {
  margin: 0;
}
.body .achievements .counts .row2 .d4 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.body .achievements .counts .row2 .d4 .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body .achievements .counts .row2 .d4 .details h2 {
  margin: 0;
}

.footer img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
